.nav-item>a:visited {
    background-color: rgb(202, 235, 255);
}

.nav-item1>a:visited {
    background-color: rgb(120, 196, 244);
}

.nav-item2>a:visited {
    background-color: rgb(120, 244, 161);
}

.navbar-default {
    height: 50px;
}