<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <a href="#" class="navbar-brand">מלשינון</a>
        </div>
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/register">הרשמה לאתר</a>
            </li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/reports">תלונות אחרונות</a>
            </li>
            <li class="nav-item2" routerLinkActive="active"><a class="nav-link" routerLink="/reports/new">
                    <strong>
                        דיווח חדש
                    </strong>
                </a>
            </li>
        </ul>
    </div>
</nav>