<div class="panel panel-primary">
    <div class="panel-heading text-center">
        מטרת האתר
    </div>

    <br>
    <!-- <h4 class="pull-right"><u></u></h4><br><br> -->
    <p style="text-align: right;">
        .אתר זה הוא יוזמה פרטית של תושבים בשכונת גני אביב
        <br>
        אנחנו והשכנים שלנו מסוגלים לצפות

        <strong>
            ולדווח על כל דבר בעל אופי חשוד
        </strong>
        <br>
        .ובכך לשמש כזוג עיניים ואוזניים נוסף למען שמירת השקט והבטחון בשכונתינו
        <br><br>
        יותר דיווחים - יותר מודעות <br><br>

        .פושעים מתקשים לפעול באזורים בהם תושבים נוטלים תפקיד פעיל במניעת הפשיעה <br>

        בנוסף, יש לזכור ששום כוח משטרה לא יכול להגן ביעילות על חיים ורכוש ללא התמיכה הפעילה
        ושיתוף הפעולה של האנשים אותם הוא נועד לשרת
        <br><br>
        <br>
        :אתר זה משמש ככלי לתלונות התושבים במקרים בהם ישנה פעילות חשודה, הפרת סדר או עבירה על החוק, ובכך לתרום
        <br><br>
        <li dir="rtl">בשמירה על תחושת הביטחון בשכונה </li>
        <li dir="rtl">בשמירה על הסדר, הרכוש ואיכות החיים בשכונה </li>
        <li dir="rtl">באיתור חשודים במישור הפלילי והחבלני </li>
        <li dir="rtl">בתמיכה וסיוע במערך האבטחה הקיים </li>

        <br><br><br><br>
        .אין להשתמש באתר כשיטה חלופית לדיווח על פשעים או עבירות אחרות
        
        אם מדובר במקרה חירום יש לחייג 100
    </p>