<h4 class="pull-right"><u>?למה לדווח</u></h4><br><br>
<p style="text-align: right;">
    ייתכן ששוטר בסיור לא יודע מה נורמלי ברחוב שלנו ואולי לא יזהה זר בשטח שלנו <br><br>

    אנחנו והשכנים שלנו מסוגלים לצפות

    <strong>
        ולדווח על כל דבר בעל אופי חשוד,
    </strong>

    יותר דיווחים - יותר מודעות <br><br>

    פושעים מתקשים לפעול באזורים בהם אנשים נוטלים תפקיד פעיל במניעת פשיעה <br><br>

    יש לזכור ששום כוח משטרה לא יכול להגן ביעילות על חיים ורכוש ללא התמיכה הפעילה ושיתוף הפעולה של האנשים אותם הוא
    נועד לשרת
    <br>
    <br>
    <br>
    <br>
    אין להשתמש באתר כשיטה חלופית לדיווח על פשעים או עבירות אחרות. אם מדובר במקרה חירום יש לחייג 100

</p>
<br>